nav {
    margin-bottom: 2em;
}

#logo {
    height: 50px;
}

.btn-primary {
    /* Bootstap primary button color override */
    background-color: ForestGreen; 
}

.card {
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 300px;
}

.small-screen {
    visibility: hidden;
}

@media screen and (max-width: 775px) {
    body {
        font-size: 18px;
    }
    .big-screen {
        display: none;
    }
    .small-screen {
        visibility: visible;
    }
}

